<div id="<%= dom_id subscription %>">
  <p>
    <strong>Subscribed:</strong>
    <%= subscription.subscribed_id %>
  </p>

  <p>
    <strong>Subscriber:</strong>
    <%= subscription.subscriber_id %>
  </p>

</div>
